<footer>
    <div class="container-fluid bg-dark p-3">
        <div class="row justify-content-center align-content-center text-md-center g-2">
            <a href="about" class="col-md-3 text-decoration-none text-light">About</a>
            <a href="copyright" class="col-md-3 text-decoration-none text-light">Copyright</a>
            <a href="privacy" class="col-md-3 text-decoration-none text-light">Privacy</a>
            <a href="help" class="col-md-3 text-decoration-none text-light">Help</a>
        </div>
        <p class="text-secondary mt-3 mb-0 text-md-center">© Copyright 2023 Minima Records Inc.</p>
    </div>
</footer>