<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link.ejs') %>
    <title>Minima Records | 404</title>
  </head>
  <body>
    <%- include('./partials/header_home.ejs') %>
    <main>
      <div class="container my-5">
        <h1 class="display-2">Oops...</h1>
        <p class="lead">We couldn't find the page you were looking for.</p>
        <a
          href="/"
          class="btn btn-dark"
          >Go back to Homepage</a
        >
      </div>
    </main>
  </body>
</html>
