<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link.ejs') %>
    <title>Minima Records | About Us</title>
  </head>
  <body>
    <%- include('./partials/header_home.ejs') %>
    <main>
      <section class="container my-5">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h1 class="display-2">About Minima Records</h1>
            <p class="lead">
              Welcome to Minima Records, where the timeless charm of vinyl records meets a curated
              collection of music that transcends generations. We are more than just a vinyl store;
              we are a haven for music enthusiasts, collectors, and audiophiles who appreciate the
              warmth, authenticity, and artistry of analog sound.
            </p>

            <div class="list-group">
              <div class="list-group-item">
                <h2 class="lead display-6">Our Story</h2>
                <p class="">
                  At Minima Records, our journey began with a simple love for music. It was this
                  passion that led us to the world of vinyl, where the crackle and pop of a record
                  brought a sense of nostalgia and a tangible connection to the music we cherished.
                  The idea of Minima Records was born out of a desire to share this experience with
                  others and to create a space where music could be celebrated in its purest form.
                </p>
              </div>
              <div class="list-group-item">
                <h2 class="lead display-6">Our Collection</h2>
                <p class="">
                  At Minima Records, we take pride in offering a diverse and meticulously curated
                  vinyl collection. From classic rock to jazz, from hip-hop to classical, our
                  shelves hold a treasure trove of music waiting to be discovered. We carry both new
                  releases and vintage classics, ensuring that music lovers of all tastes can find
                  something to delight their ears.
                </p>
              </div>
              <div class="list-group-item">
                <h2 class="lead display-6">The Vinyl Experience</h2>
                <p class="">
                  Vinyl is more than just a format; it's an experience. The act of carefully
                  selecting a record, gently placing it on the turntable, and hearing the first
                  notes fill the room is a ritual that connects us to the music in a way that
                  digital formats simply cannot replicate. It's a tactile and sensory experience
                  that engages all the senses.
                </p>
              </div>
              <div class="list-group-item">
                <h2 class="lead display-6">Community and Events</h2>
                <p class="">
                  Minima Records is more than just a store; it's a hub for the local music
                  community. We regularly host events such as vinyl listening parties, artist
                  showcases, and live performances. These gatherings are an opportunity to connect
                  with fellow music enthusiasts, discover new artists, and share in the joy of music
                  together.
                </p>
              </div>
              <div class="list-group-item">
                <h2 class="lead display-6">Visit Us</h2>
                <p class="">
                  We invite you to visit our store and experience the magic of vinyl for yourself.
                  Whether you're looking for a specific record, seeking recommendations, or simply
                  want to chat about music, our friendly and passionate team is here to assist you.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
