<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link.ejs') %>
    <title>Minina Records | Copyright</title>
  </head>
  <body>
    <%- include('./partials/header_home.ejs') %>
    <main>
      <section class="container my-5">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h1 class="display-2">Report Copyright Violations</h1>
            <p class="lead">
              If you believe that any content on the Minima website infringes your copyright or
              intellectual property rights, please contact us at [email address] with the following
              information:
            </p>
            <div class="list-group mb-5">
              <div class="list-group-item">
                <p class="lead">
                  A description of the copyrighted work or intellectual property that you believe
                  has been infringed.
                </p>
              </div>
              <div class="list-group-item">
                <p class="lead">
                  A description of the allegedly infringing content and its location on the Minima
                  Records website.
                </p>
              </div>
              <div class="list-group-item">
                <p class="lead">
                  Your contact information, including name, address, phone number, and email
                  address.
                </p>
              </div>
              <div class="list-group-item">
                <p class="lead">
                  A statement by you, made under penalty of perjury, that the information provided
                  is accurate and that you are the copyright owner or authorized to act on behalf of
                  the copyright owner.
                </p>
              </div>
            </div>

            <p class="lead fw-bold">Changes to Copyright Notice</p>
            <p class="lead">
              Minima Records reserves the right to update or revise this Copyright Notice at any
              time without prior notice. Please review this notice periodically to stay informed
              about any changes.
            </p>

            <h2 class="display-3">Copyright Notice</h2>
            <p class="lead">Copyright © 2023 Minima Records. All rights reserved.</p>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
