<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link.ejs') %>
    <title>Minima Records | /productname/</title>
  </head>
  <body>
    <%- include('./partials/header_customer.ejs') %> <%- include('./partials/footer.ejs') %>
  </body>
</html>
