<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link.ejs') %>
    <title>Minima Records | Products</title>
  </head>

  <body>
    <%- include('./partials/header_customer.ejs') %>
    <main>
      <section class="container text-center">
        <h2 class="p-5">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto error maiores
          cupiditate? Consequuntur placeat deserunt distinctio eveniet laudantium impedit eos, neque
          dolor voluptatum expedita, magnam sunt nisi nesciunt, facilis fugit!
        </h2>
      </section>
      <section class="container mb-5">
        <div class="row justify-content-center g-3">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card px-3">
              <img
                src="/images/vulfpeck.webp"
                alt=""
              />
              <div class="card-body text-center">
                <h4 class="card-title">The Beautiful Game</h4>
                <p class="lead card-subtitle">Vulfpeck</p>
                <p class="display-5 my-4 text-muted fw-bold">$249.99</p>
                <p class="card-text text-secondary d-none d-lg-block">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, mollitia.
                </p>
                <a
                  href="#"
                  class="btn btn-outline-dark btn-lg my-2"
                  >Buy Now</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card px-3">
              <img
                src="/images/vulfpeck.webp"
                alt=""
              />
              <div class="card-body text-center">
                <h4 class="card-title">The Beautiful Game</h4>
                <p class="lead card-subtitle">Vulfpeck</p>
                <p class="display-5 my-4 text-muted fw-bold">$249.99</p>
                <p class="card-text text-secondary d-none d-lg-block">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, mollitia.
                </p>
                <a
                  href="#"
                  class="btn btn-outline-dark btn-lg my-2"
                  >Buy Now</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card px-3">
              <img
                src="/images/vulfpeck.webp"
                alt=""
              />
              <div class="card-body text-center">
                <h4 class="card-title">The Beautiful Game</h4>
                <p class="lead card-subtitle">Vulfpeck</p>
                <p class="display-5 my-4 text-muted fw-bold">$249.99</p>
                <p class="card-text text-secondary d-none d-lg-block">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, mollitia.
                </p>
                <a
                  href="#"
                  class="btn btn-outline-dark btn-lg my-2"
                  >Buy Now</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card px-3">
              <img
                src="/images/vulfpeck.webp"
                alt=""
              />
              <div class="card-body text-center">
                <h4 class="card-title">The Beautiful Game</h4>
                <p class="lead card-subtitle">Vulfpeck</p>
                <p class="display-5 my-4 text-muted fw-bold">$249.99</p>
                <p class="card-text text-secondary d-none d-lg-block">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, mollitia.
                </p>
                <a
                  href="#"
                  class="btn btn-outline-dark btn-lg my-2"
                  >Buy Now</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card px-3">
              <img
                src="/images/vulfpeck.webp"
                alt=""
              />
              <div class="card-body text-center">
                <h4 class="card-title">The Beautiful Game</h4>
                <p class="lead card-subtitle">Vulfpeck</p>
                <p class="display-5 my-4 text-muted fw-bold">$249.99</p>
                <p class="card-text text-secondary d-none d-lg-block">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, mollitia.
                </p>
                <a
                  href="#"
                  class="btn btn-outline-dark btn-lg my-2"
                  >Buy Now</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card px-3">
              <img
                src="/images/vulfpeck.webp"
                alt=""
              />
              <div class="card-body text-center">
                <h4 class="card-title">The Beautiful Game</h4>
                <p class="lead card-subtitle">Vulfpeck</p>
                <p class="display-5 my-4 text-muted fw-bold">$249.99</p>
                <p class="card-text text-secondary d-none d-lg-block">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, mollitia.
                </p>
                <a
                  href="#"
                  class="btn btn-outline-dark btn-lg my-2"
                  >Buy Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
