<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link.ejs') %>
    <title>Minima Records | Help</title>
  </head>
  <body class="flex-wrapper">
    <%- include('./partials/header_home.ejs') %>
    <main>
      <section class="container my-5">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h1 class="display-2">Frequently Asked Questions</h1>
            <p class="lead mb-5">Here are answers to some common questions</p>
            <div class="list-group mb-5">
              <div class="list-group-item">
                <h3 class="display-6">How do I place an order?</h3>
                <p class="lead">
                  To place an order, simply browse our collection, select the vinyl records you
                  want, and add them to your cart. Then, proceed to checkout, where you'll provide
                  your shipping information and payment details. Once your order is confirmed, we'll
                  process it and send you a confirmation email.
                </p>
              </div>
              <div class="list-group-item">
                <h3 class="display-6">What is your return policy?</h3>
                <p class="lead">
                  We want you to be satisfied with your purchase. If you're not completely happy
                  with your order, please review our Return Policy for details on how to initiate a
                  return or exchange.
                </p>
              </div>
              <div class="list-group-item">
                <h3 class="display-6">How do I contact customer support?</h3>
                <p class="lead">
                  Our customer support team is here to help. You can reach us by email at [email
                  address] or by phone at [phone number]. We aim to respond to inquiries within
                  [response time] during business hours.
                </p>
              </div>
              <div class="list-group-item">
                <h3 class="display-6">Return Policy</h3>
                <p class="lead">
                  We want you to love your vinyl records. If you're not completely satisfied with
                  your purchase, you can return or exchange it within [return period] days of
                  receiving your order. Contact our customer support team to initiate the return
                  process. You can reach us at [email address] or [phone number].
                </p>
                <p class="">
                  Please note that returns must be in new and unused condition. Shipping fees are
                  non-refundable unless the return is due to a mistake on our part.
                </p>
              </div>
            </div>
            <h2 class="display-5">Contact Us</h2>
            <p class="lead">
              If you have any other questions or need further assistance, please don't hesitate to
              contact us. We're here to help!
            </p>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
