<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link.ejs') %>
    <title>Minima Records | Privacy</title>
  </head>
  <body>
    <%- include('./partials/header_home.ejs') %>
    <main>
      <section class="container my-5">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h1 class="display-1 mb-4">Privacy Policy</h1>

            <div class="list-group mb-5">
              <div class="list-group-item">
                <h2 class="fw-bold">Introduction</h2>
                <p class="">
                  At Minima Records, we are committed to protecting your privacy and ensuring the
                  security of your personal information. This Privacy Policy outlines how we
                  collect, use, and safeguard your data when you interact with our website and
                  services.
                </p>
              </div>
              <div class="list-group-item">
                <h2 class="fw-bold">Information We Collect</h2>
                <p class="">
                  We may collect various types of information, including but not limited to personal
                  information (such as your name, email address, and phone number) when you create
                  an account or make a purchase. We also collect billing and payment information for
                  processing orders, as well as usage data, including information about your
                  interactions with our website, products, and services. Additionally, we may
                  collect device and browser information, including your IP address and user-agent
                  string.
                </p>
              </div>
              <div class="list-group-item">
                <h2 class="fw-bold">How We Use Your Information</h2>
                <p class="">
                  We use the information we collect for various purposes, including processing and
                  fulfilling your orders, personalizing your experience on our website,
                  communicating with you about your orders, promotions, and updates, and analyzing
                  and improving our website and services.
                </p>
              </div>
              <div class="list-group-item">
                <h2 class="fw-bold">Data Security</h2>
                <p class="">
                  We take the security of your data seriously and implement measures to protect it
                  from unauthorized access, disclosure, alteration, or destruction.
                </p>
              </div>
              <div class="list-group-item">
                <h2 class="fw-bold">Your Choices</h2>
                <p class="">
                  You have the right to access, correct, or delete your personal information. You
                  can also opt-out of marketing communications at any time by contacting us.
                </p>
              </div>
              <div class="list-group-item">
                <h2 class="fw-bold">Changes to Privacy Policy</h2>
                <p class="">
                  We may update our Privacy Policy from time to time. Any changes will be posted on
                  this page, and the revised policy will be effective immediately upon posting.
                </p>
              </div>
              <div class="list-group-item">
                <h2 class="fw-bold">Contact Us</h2>
                <p class="">
                  If you have any questions or concerns about our Privacy Policy or how we handle
                  your data, please contact us at [email address].
                </p>
              </div>
            </div>

            <p class="">Last Updated: [Date]</p>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
