<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Shipper Registration</title>
</head>

<body>
    <div class="card col-md-4 mt-5 mx-auto">
        <div class="card-body">
            <form class="mx-auto">
                <div class="card-header text-center mb-4">
                    <h3>Shipper Registration</h3>
                </div>
                <div class="form-group mb-3">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="sername" id="username" placeholder="Enter here"
                        required>
                    <div class="username_error text-danger"></div>
                </div>
                <div class="form-group mb-3">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter here"
                        required>
                    <div class="password_error text-danger"></div>
                </div>
                <div class="mb-3">
                    <label for="profilePicture" class="form-label">Profile Picture</label>
                    <input class="form-control" type="file" name="profilePicture" id="profilePicture" required>
                    <div class="profilePicture_error text-danger"></div>
                </div>
                <div class="form-group mb-3">
                    <label for="shipperName">Shipper's Name</label>
                    <input type="text" class="form-control" name="shipperName" id="shipperName" placeholder="Enter here"
                        required>
                    <div class="shipperName_error text-danger"></div>
                </div>
                <div class="form-group mb-3">
                    <label for="assignedHub">Assigned Distribution Hub</label>
                    <select name="distributionHub" id="distributionHub" class="form-select"
                        aria-label="Assigned Distribution Hub" required>
                        <option value="" selected>Select Distribution Hub</option>
                        <option value="hanoi">Hanoi</option>
                        <option value="saigon">Saigon</option>
                        <option value="danang">Danang</option>
                    </select>
                    <div class="distributionHub_error text-danger"></div>
                </div>
                <button type="submit" class="btn btn-dark">Sign Up</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>
    <!-- Custom JS -->
    <script>
        const form = document.querySelector('form')
        const usernameError = document.querySelector('.username_error')
        const passwordError = document.querySelector('.password_error')
        const profilePictureError = document.querySelector('.profilePicture_error')
        const shipperNameError = document.querySelector('.shipperName_error')
        const distributionHubError = document.querySelector('.distributionHub_error')
        const formData = new FormData();

        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            usernameError.textContent = ' '
            passwordError.textContent = ' '
            profilePictureError.textContent = ' '
            shipperNameError.textContent = ' '
            distributionHubError.textContent = ' '

            // getting values from the form
            const username = form.username.value
            const password = form.password.value
            const profilePicture = document.getElementById("profilePicture").files[0]
            const shipperName = form.shipperName.value
            const distributionHub = form.distributionHub.value

            const formData = new FormData();
            formData.append('username', username);
            formData.append('password', password);
            formData.append('profilePicture', profilePicture);
            formData.append('shipperName', shipperName);
            formData.append('distributionHub', distributionHub);

            try {
                const res = await fetch('/shipperREG', {
                    method: 'POST',
                    // body: JSON.stringify({ username, password, profilePicture, name, address }),
                    // headers: { 'Content-Type': 'application/json' }
                    body: formData
                })

                const data = await res.json()
                console.log(data)
                if (data.errors) {
                    usernameError.textContent = data.errors.username
                    passwordError.textContent = data.errors.password
                    profilePictureError.textContent = data.errors.profilePicture
                    shipperNameError.textContent = data.errors.shipperName
                    distributionHub.textContent = data.errors.distributionHub
                }
                if (data.shipper) {
                    location.assign('/shipperLOG')
                }

            }
            catch (err) {
                console.log(err);
            }
        })
    </script>
</body>

</html>