<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link.ejs') %>
    <script
      defer
      src="js/footer.js"
    ></script>
    <script
      defer
      src="js/shipperREG.js"
    ></script>
    <title>Minima Records | Shipper Registration</title>
  </head>

  <body>
    <%- include('partials/header_home') %>
    <main>
      <div class="container">
        <div class="card col-lg-6 mt-5 mx-auto">
          <div class="card-body">
            <form class="mx-auto">
              <div class="card-header text-center mb-4">
                <h3>Shipper Registration</h3>
              </div>
              <div class="form-group mb-3">
                <label for="username">Username</label>
                <input
                  type="text"
                  class="form-control"
                  name="sername"
                  id="username"
                  placeholder="Enter here"
                  required
                />
                <div class="username_error text-danger"></div>
              </div>
              <div class="form-group mb-3">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  placeholder="Enter here"
                  required
                />
                <div class="password_error text-danger"></div>
              </div>
              <div class="mb-3">
                <label
                  for="profilePicture"
                  class="form-label"
                  >Profile Picture</label
                >
                <input
                  class="form-control"
                  type="file"
                  name="profilePicture"
                  id="profilePicture"
                  required
                />
                <div class="profilePicture_error text-danger"></div>
              </div>
              <div class="form-group mb-3">
                <label for="shipperName">Shipper's Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="shipperName"
                  id="shipperName"
                  placeholder="Enter here"
                  required
                />
                <div class="shipperName_error text-danger"></div>
              </div>
              <div class="form-group mb-3">
                <label for="assignedHub">Assigned Distribution Hub</label>
                <select
                  name="distributionHub"
                  id="distributionHub"
                  class="form-select"
                  aria-label="Assigned Distribution Hub"
                  required
                >
                  <option
                    value=""
                    selected
                  >
                    Select Distribution Hub
                  </option>
                  <option value="hanoi">Hanoi</option>
                  <option value="saigon">Saigon</option>
                  <option value="danang">Danang</option>
                </select>
                <div class="distributionHub_error text-danger"></div>
              </div>
              <button
                type="submit"
                class="btn btn-dark"
              >
                Sign Up
              </button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <!-- Footer  -->
    <%- include('partials/footer.ejs') %>

    <!-- Custom JS -->
  </body>
</html>
