<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link.ejs') %>
    <title>Minima Records | Add an Item</title>
  </head>
  <body>
    <%- include('./partials/header_vendor.ejs') %>
    <main>
      <h1 class="display-2">Add a Product</h1>
      <form
        action="/vendorAddItem"
        method="post"
      >
        <div class="form-group">
          <label for="record-name">The title of your record</label>
          <input
            type="text"
            class="form-control"
            id="record-name"
          />
          <label for="artist-name">The artists' name(s)</label>
          <input
            type="text"
            class="form-control"
            id="artist-name"
          />
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
          />
          <label for="price"></label>
          <input
            type="text"
            class="form-control"
            id="price"
          />
          <label for="image-file"></label>
          <input
            type="file"
            class="form-control"
            id="image-file"
          />
        </div>
      </form>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
