<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link.ejs') %>
    <title>Minima Records | Your Products</title>
  </head>
  <body>
    <%- include('./partials/header_vendor.ejs') %>
    <main>
      <section id="hero">
        <div class="container">
          <h1 class="display-2">Your Products</h1>
          <p>Take a look at your uploaded products here</p>
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
