<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link.ejs') %>
    <title>Minima Records | Your Products</title>
  </head>
  <body>
    <%- include('./partials/header_vendor.ejs') %>
    <main>
      <section id="hero">
        <div class="container my-5 text-center text-lg-start">
          <h1 class="display-2">Your Products</h1>
          <p class="lead">Take a look at your uploaded products here</p>
        </div>
      </section>
      <section class="container mb-5">
        <div class="row justify-content-center g-3">
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card px-3">
              <img
                src="/images/vulfpeck.webp"
                alt=""
              />
              <div class="card-body text-center">
                <h4 class="card-title">The Beautiful Game</h4>
                <p class="lead card-subtitle">Vulfpeck</p>
                <p class="display-5 my-4 text-muted fw-bold">$249.99</p>
                <p class="card-text text-secondary d-none d-lg-block">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, mollitia.
                </p>
                <a
                  href="#"
                  class="btn btn-outline-dark btn-lg my-2"
                  >Buy Now</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card px-3">
              <img
                src="/images/vulfpeck.webp"
                alt=""
              />
              <div class="card-body text-center">
                <h4 class="card-title">The Beautiful Game</h4>
                <p class="lead card-subtitle">Vulfpeck</p>
                <p class="display-5 my-4 text-muted fw-bold">$249.99</p>
                <p class="card-text text-secondary d-none d-lg-block">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, mollitia.
                </p>
                <a
                  href="#"
                  class="btn btn-outline-dark btn-lg my-2"
                  >Buy Now</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card px-3">
              <img
                src="/images/vulfpeck.webp"
                alt=""
              />
              <div class="card-body text-center">
                <h4 class="card-title">The Beautiful Game</h4>
                <p class="lead card-subtitle">Vulfpeck</p>
                <p class="display-5 my-4 text-muted fw-bold">$249.99</p>
                <p class="card-text text-secondary d-none d-lg-block">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, mollitia.
                </p>
                <a
                  href="#"
                  class="btn btn-outline-dark btn-lg my-2"
                  >Buy Now</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card px-3">
              <img
                src="/images/vulfpeck.webp"
                alt=""
              />
              <div class="card-body text-center">
                <h4 class="card-title">The Beautiful Game</h4>
                <p class="lead card-subtitle">Vulfpeck</p>
                <p class="display-5 my-4 text-muted fw-bold">$249.99</p>
                <p class="card-text text-secondary d-none d-lg-block">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, mollitia.
                </p>
                <a
                  href="#"
                  class="btn btn-outline-dark btn-lg my-2"
                  >Buy Now</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card px-3">
              <img
                src="/images/vulfpeck.webp"
                alt=""
              />
              <div class="card-body text-center">
                <h4 class="card-title">The Beautiful Game</h4>
                <p class="lead card-subtitle">Vulfpeck</p>
                <p class="display-5 my-4 text-muted fw-bold">$249.99</p>
                <p class="card-text text-secondary d-none d-lg-block">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, mollitia.
                </p>
                <a
                  href="#"
                  class="btn btn-outline-dark btn-lg my-2"
                  >Buy Now</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card px-3 border-0">
              <div class="card-body text-center">
                <h4 class="card-title">Got Something New?</h4>
                <a
                  href="#"
                  class="btn btn-outline-dark btn-lg my-2"
                  >Add an Item</a
                >
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
