/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023B
Assessment: Assignment 2
Authors: 
Nguyen Chi Nghia (s3979170)
Tran Bao Khoi (s3926093)
Tran Hoang Son (s3978450)
Bui Cong Duy (s3978546)
Hoang Quoc Dat (s3979331)
Acknowledgement: https://www.youtube.com/watch?v=SnoAwLP1a-0&list=PL4cUxeGkcC9iqqESP8335DA5cRFp8loyp  */
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

#footer {
  margin-top: auto;
}